/* 基础设置 */
.container {
  width: 1190px;
  margin: 0 auto;
}

/* #region顶部导航条 Start */
.topbar {
  height: 30px;
  background: #ececec;
}
.welcome {
  height: 30px;
  line-height: 30px;
  font-size: 0;
  color: #666;
}
.welcome span,
.welcome a {
  font-size: 12px;
}
.welcome .hello {
  margin-right: 28px;
}
.login {
  padding-right: 10px;
  border-right: 1px solid #666;
}
.register {
  padding-left: 10px;
}
.topbar-nav .list {
  height: 30px;
  line-height: 30px;
}
.topbar-nav .list li {
  float: left;
}
.topbar-nav .list li a {
  padding: 0 15px;
  border-right: 1px solid #666;
}
.topbar-nav .list li:first-child a {
  padding-left: 0;
}
.topbar-nav .list li:last-child a {
  padding-right: 0;
  border: 0;
}
/* #endregion顶部导航条 End */

/* #region头部 Start */
.header {
  height: 120px;
  background-color: white;
}
.header .search form {
  margin-top: 40px;
  font-size: 0;
}
.header .search input {
  width: 508px;
  height: 34px;
  border: 1px solid #dd302d;
}
.header .search button {
  width: 80px;
  height: 36px;
  background-color: #dd302d;
  vertical-align: top;
  /* 文本和其他样式默认是基线对齐，会对不准 */
  background-image: url("../images/serch_icon.png");
  background-repeat: no-repeat;
  background-position: 28px 6px;
}
/* #endregion头部 End */

/* #region主导航 Start */
.main-nav {
  height: 48px;
  border-bottom: 1px solid #dd302d;
}
.main-nav .all-types {
  width: 190px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  background-color: #dd302d;
  color: white;
  font-size: 16px;
}
.main-nav .main-nav-list {
  height: 48px;
  line-height: 48px;
}
.main-nav .main-nav-list li {
  float: left;
  margin: 0 10px;
  font-size: 16px;
}
/* #endregion主导航 End */

/* #region主要内容区 Start */
.main-content {
  margin-top: 10px;
}
.main-content .slide-nav {
  width: 190px;
  height: 458px;
  background-color: #f4f4f4;
  position: relative;
}
.main-content .slide-nav li {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding-left: 16px;
  /* 背景色填充padding，不填充margin */
}
.main-content .slide-nav li:hover {
  background-color: #dd302d;
}
.main-content .slide-nav li:hover .second-menu {
  display: block;
}
.main-content .slide-nav li>a:hover {
  color: white;
}
.main-content .slide-nav li .second-menu {
  width: 680px;
  height: 458px;
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  left: 190px;
  padding-left: 20px;
  display: none;
}
.second-menu dl {
  height: 36px;
  line-height: 36px;
}
.second-menu dl:first-child {
  margin-top: 10px;
}
.second-menu dt {
  float: left;
  width: 70px;
  font-weight: bold;
  margin-right: 10px;
}
.second-menu dt a {
  font-weight: 500;
  color: #000;
}
.second-menu dd {
  float: left;
}
.second-menu dd a {
  padding: 0 10px;
  border-left: 1px solid #999999;
  color: #666;
}
.main-content .banner {
  width: 690px;
  height: 458px;
  background-color: green;
  margin: 0 10px;
}
.main-content .slide-other {
  width: 290px;
  height: 458px;
  background-color: orange;
}
/* #endregion主要内容区 End */